@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #dbf5f2;
  --background: #051311;
  --primary: #8edfd9;
  --secondary: #5f2686;
  --accent: #d15dc4;

}

* {
  font-family: Space Grotesk;
}




@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

input, textarea {
  border: 1px solid black;
}